@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

* {
  font-family: 'Roboto', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: white;
}


.button_informes{
  align-items:flex-end;
  background-color: grey;
}

.logo{
  margin-top: 25px;
  margin-left: 50px;
}

.header-page{
  background-color: #6991DA;
}

.button-page{
  border-radius: 20px; 
  color: white;
  padding: 8px 18px; /* Espaciado interno para el botón */
  font-size: 12px;
  cursor: pointer; /* Cambia el cursor al pasar el ratón sobre el botón */
  float: right;
  margin-right: 50px;
  background-color: transparent;
  border-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid;
}


.header-top {
  background-color: #2B2C30;
  overflow: hidden;
}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-gap: 20px; 
  align-items: center; 
}

.grid-text {
  grid-column: 1 / 2; 
  margin-left: 50px;
  max-width: 700px;
}

.grid-img img {
  max-width: 50%; 
  width: 50%; 
  height: auto; 
  border-radius: 50px;
  margin-top: 30px;
  margin-left: 200px;
}

.grid-text h2 {
  font-size: 60px;
}